* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(174, 214, 241);
  color: white;
}

.App {
  text-align: center;
}

.App Link {
  color: #61dafb;
}


